*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 90%;
  font-family:Poppins;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: rgb(25, 22, 22);
  font-weight: 500;
  letter-spacing: .1rem;

}

iframe{
  width: 100%;
  height: 100%;
}

p{
  letter-spacing: .17rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
 

}
/* layout */

.container{
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.4rem .7rem;
}

.grid-two-cols{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-four--cols{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
header{
  width: 100%;
}

.head_text{
  font-size: 1rem;
}
section{

  margin: 0 1rem;
}
.first_nav{
  background-color: #282828;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}
.head p{
  font-size: .9rem;
}


.head p::first-letter{
  font-size: large;
}
.head .sign_up_in{
  display: flex;
  gap: 1rem;
  /* font-size: .8rem;    */
  text-transform: uppercase;

}
  

.sign_up_in>a{
/* background-color:  #f5ba13; */
 border-inline: 2px solid #f5ba13;
  color: wheat;
  padding: 0.1rem .3rem;
  border-radius: .4rem;
    font-weight: 600;
    transition: all .3s ease;
    font-size: .9rem;
}
.sign_up_in>a:hover{
  background-color: #f7dc6f7f;
  color: black;
}
.second-sec{
  background-color: #f7f7f7;
}
.second_nav{
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 4px;
}

.brand-logo{
  width: 35px;
  height: auto;
}
nav ul li{
  list-style: none;
  font-size: 1.2rem;
  
}
nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.8rem;
}
.nav-item{
  position:relative;
 
}
.nav-link-right{vertical-align: middle;}
.nav-item :hover{
  color:  orangered;
  transition: color .2s linear;
}

.nav-item:hover::after{
  content: "";
  display: block;
  width: 100%;
  height: .13rem;
  bottom: -2px;
  left: 0;
  position: absolute;
  background-color: orangered;
  animation: grow .2s linear;
}
@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* here is cart styling */
#cart{
  position: relative;
  font-size: 3.5rem;
  
}
#item_num{
  position: absolute;
  min-width:1.5rem;
  top: .9rem;
  right: .8rem;
 color: #fff;
 font-weight: 600;
 font-size: .8rem;
text-align: center;
/* border: 2px solid red; */

}

/***** styling for stickey navbar *****/ 
.sec-nav{
  position: sticky;
  top: -72px; 
  z-index: 1000; 
}
/***** End styling for stickey navbar *****/


/***** Section Heroo  *****/

.hero-section{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.7120973389355743) 0%, rgba(7,129,171,0.4095763305322129) 52%, rgba(0,212,255,1) 100%);
  min-height: 35rem;
}
.hero_sec_content{
 margin: auto;
}

.hero-img{
  width: 400px;
  height: auto;
}
.hero_sec_content>:nth-child(1){
  text-transform: uppercase;
  font-size: .7rem;
  margin-bottom: 1rem;
}
.hero_sec_content>:nth-child(2){
  font-size: 2rem;
  margin-bottom: 1rem;
  color:  white;
}
.hero_sec_content>:nth-child(3){
  font-size: 1rem;
  margin-bottom: 1rem;
}
.hero_sec_content>:nth-child(4){
  font-size: .7rem;
  margin-bottom: 1rem;
  background-color: #333;;
  padding: .5rem 1rem;
  color: #fff;
  border-radius: 1rem;
}
.hero_sec_content>:nth-child(4):hover{
  background-color: gray ;
}
  
.hero_sec_img{
  margin: auto;
}


/***** Section *****/ 

.custom-shape-divider-bottom-1735472438 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1735472438 svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 318px;
}

.custom-shape-divider-bottom-1735472438 .shape-fill {
  fill: #FFFFFF;
}
/***** End Section *****/


/***** End Section Heroo  *****/

/***** Section product *****/   
.product-section{
  background-color: white;
  padding-top: 8rem;
}

.pro-container{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.product_sec_title{
padding-top: 2rem;

}
.product_sec_title>:nth-child(1){
  font-size: .8rem;
}
.product_sec_title>:nth-child(3){
  font-size: .8rem;
  text-decoration: underline;
}

.pro-img{
  width: 90%;
  height:auto;

  }
  .pro-img-div{
    object-fit:contain;
  }

.pro-container> div{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-left: 1rem;
}

  /***** End Section product *****/

  /***** Section policy *****/ 

.section-policy{
margin-top: 1.5rem;
}

.policy-container{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.div-policy{
  display: flex;
  justify-content: center;
  align-items: center;
 gap:.9rem;
}
.div-policy .icon{
  font-size: 3.5rem;
  color: rgb(255, 98, 0);
}
.div-policy .icon .refresh{
  font-size: 4.3rem;
}
.div-policy .div_policy_text p{
font-size: .9rem;
}

   /***** End Section policy *****/

   /***** Why choose Section *****/  
.section-why--choose{
  margin-top: 1rem;
}

.section-why--choose .text-align--right .why-choose--div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: end;
}

.choose-center--div{
 
 display: grid;
 place-content: center;
 
}
.why-choose--div{
  margin-top: 2rem;
}

.choose-center--div  figure img{
  width: 17rem;
  height: auto;
  background: transparent;
  
}
.choose-center--div, figure{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 12;
}
.choose-center--div figure::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cyan;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  z-index:-1;
  animation: circle 10s linear infinite ;
}
@keyframes circle {
  0% { background-color: #3bf0ea; }   /* Cool Blue */
  20% { background-color: #4696e5; } /* Soft Purple */
  40% { background-color: #9C27B0; } /* Vibrant Magenta */
  60% { background-color: #E91E63; } /* Warm Pink */
  80% { background-color: #22ffff; } /* Warm Orange */
  100% { background-color: #3bcff0; } /* Back to Cool Blue */
}

.choose-center--div figure::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-top: .2rem solid orange;
  /* border:.2rem solid orange; */
  z-index:-2;
  animation: motion 1s linear infinite ;

}
@keyframes motion {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
  
}
.common-text--highlight{
  width: 3rem;
  aspect-ratio: 1;
  background-color: var(--suporting-color);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-color);
  display: grid;
  place-content: center;
}
  

/***** Section footer *****/ 

/* Footer General Styles */
.footer--section {
  background-color: #282828;
  color: #fff;
  padding: 40px 20px;
  margin-top: 5rem;
}

.footer--div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* About Section */
.footer-about h2, 
.footer-links h2, 
.footer-contact h2, 
.footer-newsletter h2 {
  font-size: 18px;
  color: #f5ba13;
  margin-bottom: 10px;
}

.footer-about p {
  line-height: 1.6;
  color: #ccc;
}

/* Links Section */
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #f5ba13;
}

/* Contact Section */
.footer-contact p {
  margin: 5px 0;
  color: #ccc;
}

/* Newsletter Section */
.footer-newsletter form {
  display: flex;
  gap: 10px;
}

.footer-newsletter input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 70%;
}

.footer-newsletter button {
  padding: 10px 20px;
  border: none;
  background-color: #765909;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-newsletter button:hover {
  background-color: #e6a00d;
}

/***** End Section footer *****/



/***** Section card styling *****/ 

.product-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.product-list--sec .pro-list--head{
  margin-top: 5rem;
}
.product-list--sec .card{
  width: 18rem;
  height: 40rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 1rem 1rem;
  background-color: white;
}
.product-list--sec .card p{
  font-size: .7rem;
  letter-spacing: .1rem;
}
.product-list--sec .card .card-head{
  height: 50%;
  text-align: center;
   
}
.product-list--sec .card .card-head img{
  width: 100%;
  height:100%;
  object-fit: contain; 
  /* background-image: linear-gradient(white); */
}
.product-list--sec .card .card-head{
  position:relative;
}
.product-list--sec .card .card-head .product_name{
  position:absolute;
  top: -5px;
  left: 0;
  border-radius: 5px;
  background-color: rgba(165, 154, 154, 0.461);
  padding: 1px 10px;
  font-size: .8rem;
  letter-spacing: .1rem;
}
.product-list--sec .card .card-body{
  height: 50%;
}
.product-list--sec .card .card-body .pro_stars .bx{
  font-size: .6rem;
  padding: 0;
  margin: -2px;
  color: red;
}
.product-list--sec .card .card-body .card-btn{
  width: 60%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.product-list--sec .card .card-body .card-btn button{
  padding: 2px 14px 2px 14px ;
  border: none;
  cursor: pointer;
}
.product-list--sec .card .card-body p:nth-of-type(3){
  margin-top: .5rem;
  margin-bottom: .3rem;
  font-size: .8rem;
}
.product-list--sec .card .card-body p:nth-of-type(3) span:nth-child(2){
   text-decoration: line-through;
   margin-left: 1.5rem;
}
.product-list--sec .card .card-body p:nth-of-type(4){
  margin-top: .4rem;
  margin-bottom: .4rem;
}
.product-list--sec .card .card-body p:nth-of-type(4) span:nth-child(2){
  margin-left: 1.5rem;
  
}
.product-list--sec .card .card-body .cart_btn{
  margin-top: 1rem;
  padding: 4px 6px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 2px;
  vertical-align: middle;
  font-size: .8rem;
  font-weight: 600;
}
.product-list--sec .card .card-body .cart_btn .bx{
  color: white;
  margin-right: 5px;
  font-size: 1.4rem;
  vertical-align: middle;
}
.product-list--sec .card .card-body .cart_btn:hover{
  opacity: .8;
  cursor: pointer;
}

.product-list--sec .card .btn{
  display: flex;
  gap: 1rem;
}
 /***** End Section card styling *****/



/***** Section addToCart *****/ 
.actualContainer .cards{
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  min-height: 4rem;
  justify-content:space-between;
  align-items: center;
}
.actualContainer .cards .img-and-name{
  display:flex;
  min-width: 20rem;
  align-items: center;
    
}
.actualContainer .cards .img-and-name img{
  width:70px;
}
.actualContainer .cards .card-btn{
  display: flex;
  gap: 1rem; 
  flex-grow: .3;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.actualContainer .cards .card-btn button{
  padding: 2px 14px 2px 14px ;
  border: none;
  cursor: pointer;
}
.actualContainer .cards .pro-price{
  flex-grow: .5;
}
.actualContainer .cards .remove-btn{
  flex-grow: 1;
  text-align: end;
}
.actualContainer .cards .remove-btn button{
  padding: .2rem 2.5rem;
  background-color: #282828;
  color: white;
  border: none;
  border-radius: 3px;
}
.actualContainer .cards .remove-btn button:hover{
  opacity: .9;
}


.cartElementFLS .summary-container{
  /* border: 1px solid; */
  display: flex;
  justify-content: end;
  
}
.cartElementFLS .totalSummry{
  border: 2px solid gray;
  padding: 1rem;
  margin-top: 2rem;
  width: 34%;
  position: relative;
  
}
.totalContainer div{
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
}

/***** End Section addToCart *****/




/***** Section shape divider *****/ 
.custom-shape-divider-bottom-1736362628 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1736362628 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1736362628 .shape-fill {
  fill: #FFFFFF;
}


.custom-shape-divider-top-1736363171 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1736363171 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1736363171 .shape-fill {
  fill: #FFFFFF;
}




 /***** End Section shape divider *****/






/***** Section toast styling *****/  

.toast-box {
 width: auto;
 max-width: 20rem;
 padding: .5rem 1.5rem;
 background-color: #323232;
 color: #fff;
 font-size: 0.875rem;
 font-family: Arial, sans-serif;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
 border-radius: 8px;
 display: flex;
 align-items: center;
 gap: 0.5rem;
 position: fixed;
 top: 4rem;
 right: 50%;
 animation: slide-in 0.3s ease-out, fade-out 1s ease .8s forwards ;
 z-index: 1000;
 opacity: 0.95;
}

.toast-box p {
 margin: 0;
 line-height: 1.5;
}

.toast-box .icon {
 width: 1.5rem;
 height: 1.5rem;
 background-color: #ff6b6b;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #fff;
 font-size: 1rem;
}

@keyframes slide-in {
 from {
     transform: translateY(-100%);
     opacity: 0;
 }
 to {
     transform: translateY(0);
     opacity: 1;
 }
}

@keyframes fade-out {
 to {
     opacity: 0;
     transform: translateY(10%);
 }
}



/***** End Section toast styling *****/

/***** Section contact page *****/ 

.contact-content{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem;
}
.contact-content .mb-3{
  margin-bottom: .8rem;
}
.contact-content .mb-3 label{
  font-weight: 600;
}
.contact-content .mb-3 textarea{
  width: 100%;
  padding: 5px 10px;
}
.contact-content .mb-3 input{
  width: 100%;
  padding: 5px 10px;
}

.contact-content .user-gap{
  gap: .5rem;
}
.contact-content .btn-submit{
  padding: 4px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
}
.contact-content .btn-submit:hover{
  opacity: .8;
}



 /***** End Section contact page *****/

/* styling of scroll to top btn */
#scroll-top--btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  background-image: linear-gradient( 90.1deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 99.9% );
  color: white;
  border: none;
  border-radius: 50%;
  opacity: .8;
  cursor: pointer;
  z-index: 100;
}
#scroll-top--btn:hover{
  opacity: 1;
}

/***** End Footer Section *****/



/***** Section media querry *****/ 
@media  (max-width : 768px) {
  .container{
    width: 100%;
    margin: 0 auto;
    padding: 1.4rem .7rem;
  }
  header{
    width: 100%;
  }
  html{
    font-size: 70%;
  }
  .grid-four--cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  .one-cols{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
  nav ul{
    gap: .8rem;
 
  }
  nav ul a{
     font-size: 1rem;
  }

  .hero_sec_content>:nth-child(2) {
    font-size: 1.5rem;
}
.hero-section .container{
  padding-top: 4rem;
}
.second_nav{
  padding-block: 0;
}
.product-section{
  margin-top: -6rem;
}

.grid-two-cols {
    grid-template-columns: repeat(1, 1fr);
}

.product_sec_title {
    padding: 1rem 0;
    order: 2;
}
.pro-img-div {
    text-align: center;
}
.pro-img {
    width: 50px;
    height: auto;
}
  .section-why--choose .choose-left--div > .why-choose--div {
    align-items: flex-start;
    text-align: left;
    
  }
    .choose-center--div {
        padding-top: 3rem;
        margin-top: 2rem;
    }
  .div-policy{
    padding: 0 0 0 1.5rem ;
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    overflow: auto;
}
  /***** media querry for add to cart *****/  
  
  .actualContainer .cards{
    gap: .5rem;
  }
  .actualContainer .cards .remove-btn{
    flex-grow: 1;
    text-align: end;
  }
  .actualContainer .cards .remove-btn button{
    padding: .15rem 2rem;
    background-color: #282828;
    color: white;
  }
      
  
  .actualContainer .cards .img-and-name{
    min-width: 7rem;
  }
  .actualContainer .totalSummry{
    width: 50%;
  }

  /***** End Section add to cart *****/

.contact-sec{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.choose-center--div figure::after{
 width: 16rem;
 height: 16rem;
}
.totalSummry{
  min-width:23.9rem;
}
.hero-img{width: 200px;}

.actualContainer .cards .img-and-name img {
    width: 40px;
}

.cards .name{
  font-size: .7rem;
  max-width: 40px;
}

.actualContainer .cards .card-btn {
  gap: .5rem;
}

.actualContainer .cards .card-btn button {
    padding: 4px 10px;

}
.actualContainer .cards .remove-btn button {
        padding: 5px 10px;
        background-color: #282828;
        color: white;
        font-weight: 600;
    }

    .sec-nav{
  position: sticky;
  top: -60px; 
  z-index: 1000; 
}

}




@media  (max-width : 576px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    overflow: scroll;
}
.hero-img{
  width: 150px;
  height: auto;
}
h1{font-size: 1.2rem;}
.sec-nav{
  position: sticky;
  top: -55px; 
  z-index: 1000; 
}

}



@media  (min-width : 992px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow: scroll;
}
}


@media  (min-width : 768px) {
.product-list--sec .card{
  width: 100%;
}
}


/***** End Section media querry *****/